.icon-box-hp {
	font-size: 48px;
	color: #8080ff;
}

.editar {
	background-color: #f2f5fa;
}

.btn-create {
	background-color: #8080ff;
	border-width: 0;
	width: 100%;
}

.btn-create:hover {
	background-color: #7070ff;
}

.icon-create {
	font-size: 50px;
	margin-top: auto;
	/* color: #ffaab5; */
	color: #8080ff;
}

.img-hp-mockup {
	width: 100%;
}
