/*
    Etiquetas para los datos del perfil
*/
/* Contenedor del perfil */
.profile{
    margin: 6em auto 1em;
}

/* Card con los datos del perfil*/
.profile-card{
    width: 85%;
    padding-top: 50px;
}

/* Contenedor del botón de modificar datos */
.profile-card-title-button{
    float: right;
}

/* Botón de modificar datos */
.profile-card-button{
    height: 40px;
    border-radius: 10px;
    width: 160px;
    background-color: white;
    transition: all ease-in-out 0.2s;
    border-color: #d0d0d0;
    border-style: solid;
    
}

.profile-card-button:hover{
    border-color: rgb(15, 15, 107);
    color: rgb(15, 15, 107);
}

/* Nombre del usuario */
.profile-card-name{
    float:left;
    font-size: 22px;
    font-weight: bold;
}

/* Contenedor de datos del usuario */
.profile-card-body{
    margin-top: 5vh;
}

/* Datos del usuario */
.profile-card-body p{
    font-size: 18px;
    
}

/* Contenedor de la sección de carpetas */
.contenedor-carpetas{
    margin: 2vh 0 20em 1em
}

/* Tabla donde se muestran las carpetas */
.tabla-carpetas{
    width: 25%;
    float: left;
}

/* Contenedor de las previsualizaciones */
.show-content{
    height: fit-content;
    width: 75%;
    float: left;
    padding:1vh 1vh;
    border-radius: 10px;
}

/* Al seleccionar una carpeta */
.show-content.active{
    background-color: rgb(224, 224, 224);
}

/* Filas de la tabla */
.table-row{
    font-size: 18px;
    padding: 5px 0px 
}

.table-row:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
    transition: all 0.5s;
}

/* Fila seleccionado */
.table-row.active{
    background-color: rgb(224, 224, 224);
}

.roww.active{
    border: 1px solid #3535e9;
    color: #3535e9;
    border-radius: 6px;
}

.change-name{
    font-size: 10;
    text-decoration: underline;
    color: #3535e9;
    cursor: pointer;
}


/* Tabla */
.tabla-carpetas table{
    width: 100%;
}

/* Tarjeta de previsualización */
.preview-card{
    width: 90%;
    margin: 20px 0px;
    transition: all ease-in-out 0.2s;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #3535e9;
    position: relative;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.preview-card:hover{
    background-color: #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

/* Titulo de la tarjeta */
.preview-title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Imagen previsualizada */
.preview-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top center;
}

.icon-crear{
    margin-top: 38px;
    height: 35px;

    border: 1px solid #3535e9;
    color: #3535e9;
}

.icon-crear:hover{
    border: 1px solid #3535e9;
    background-color: #3535e9;
    color: 'white'
}

.icon-crear box-icon {
    text-align: center;
    font-size: 10px;
    color: dodgerblue !important;
}

.icon-delete-folder{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-delete-folder:hover{
    background-color: #d0d0d0;
    transition: all 0.5s;
}

.icon-delete-folder i{
    font-size: 20px;
    color: darkred;
}

.icon-edit-folder{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-edit-folder:hover{
    background-color: #d0d0d0;
    transition: all 0.5s;
}

.icon-edit-folder i{
    font-size: 20px;
    color: #3535e9;
}

