/*
    Etiquetas para los datos del perfil
*/
/* Contenedor del perfil */
.profile{
    margin: 6em auto 1em;
}

/* Card con los datos del perfil*/
.profile-card{
    width: 85%;
    padding : 1vh 2vh;
}

/* Contenedor del botón de modificar datos */
.profile-card-title-button{
    float: right;
}

/* Botón de modificar datos */
.profile-card-button{
    height: 40px;
    border-radius: 10px;
    width: 160px;
    background-color: white;
    transition: all ease-in-out 0.2s;
    border-color: #d0d0d0;
    border-style: solid;
    
}

.profile-card-button:hover{
    border-color: rgb(15, 15, 107);
    color: rgb(15, 15, 107);
}

/* Nombre del usuario */
.profile-card-name{
    float:left;
    font-size: 22px;
    font-weight: bold;
}

/* Contenedor de datos del usuario */
.profile-card-body{
    margin-top: 5vh;
}

/* Datos del usuario */
.profile-card-body p{
    font-size: 18px;
    
}

/* Contenedor de la sección de carpetas */
.contenedor-carpetas{
    margin: 2vh 0 20em 1em
}

/* Tabla donde se muestran las carpetas */
.tabla-carpetas{
    width: 25%;
    float: left;
}

/* Contenedor de las previsualizaciones */
.show-content{
    height: fit-content;
    width: 75%;
    float: left;
    padding:1vh 1vh;
    border-radius: 10px;
}

/* Al seleccionar una carpeta */
.show-content.active{
    background-color: rgb(224, 224, 224);
}

/* Filas de la tabla */
.table-row{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-row:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
    transition: all 0.5s;
}

/* Fila seleccionado */
.table-row.active{
    background-color: rgb(224, 224, 224);
}

/* Tabla */
.tabla-carpetas table{
    width: 100%;
}

/* Tarjeta de previsualización */
.preview-card{
    display: inline-block;
    margin: 1vh 1vh;
    width: 33%;
    transition: all ease-in-out 0.2s;
    background-color: white;
    padding : 5px 5px;
    border-radius: 10px;
    border: 1px solid #0069a0;
    position: relative;
}

.preview-card .icon-delete-folder{
    position: absolute;
    right: 0;
    top: 0;
}

.preview-card .icon-delete-folder.see{
    position: absolute;
    right: 30px;
    top: 0;
}

.preview-card .icon-delete-folder.see i{
    color: #0069a0 !important;
}
/* Titulo de la tarjeta */
.preview-title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}

/* Imagen previsualizada */
.preview-img{
    width: 100%;
    height: 150px;
}

.icon-crear{
    margin-top: 38px;
    height: 37px;
}

.icon-crear box-icon {
    text-align: center;
    font-size: 10px;
    color: dodgerblue !important;
}

.icon-delete-folder{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-delete-folder:hover{
    background-color: #d0d0d0;
    transition: all 0.5s;
}

.icon-delete-folder i{
    font-size: 20px;
    color: darkred;
}

