#create {
	width: 100%;
	padding: 80px 0 100px 0;
	min-height: 100vh;
}

.breadcrumb-link {
	color: #47536e;
	text-decoration: none;
}

.breadcrumb-link.active {
	color: #5777ba;
	font-weight: 600;
}

.breadcrumb-item::before {
	content: '≫ ' !important;
}

.progress-bar {
	background-color: #009cd7;
	/* background-color: #fbdee2; */
}

.right-button-create {
	text-align: left;
	color: white;
	background-color: #009cd7;
	font-weight: bold;
}

.right-button-create:hover {
	background-color: #0069a0;
	color: white;
}

.left-button-create {
	text-align: right;
	color: #009cd7;
	font-weight: bold;
	border-color: #009cd7;
	z-index: 2;
}

.left-button-create:hover {
	color: #0069a0;
	border-color: #0069a0;
}

.icon-cat-create {
	font-size: 25px;
}

.btn-cat-create {
	color: #009cd7;
	font-weight: bolder;
	width: 100%;
	border-width: 0;
	background-color: white;
	height: 85px;
}

.btn-cat-create:hover {
	background-color: #0069a0;
	border-color: #0069a0;
}

.info-btn-create {
	margin-left: 16px;
	color: #009cd7;
	font-size: 35px;
}
.info-btn-create:hover {
	margin-left: 16px;
	color: #00bdd4;
}

.nav-create {
	background-color: white !important;
}

.container-create {
	background-color: #f8f8f8;
	height: 100%;
	padding: 0
}

.cat-active {
	background-color: #0069a0;
	border-color: #0069a0;
	color: white;
}

.btn-save-next {
	color: #009cd7;
	border-color: #009cd7;
}

.btn-save-next:hover {
	color: white;
	border-color: white;
	background-color: #009cd7;
}





/*Profile Card 5*/
.profile-card-5 {
	margin-top: 20px;
}
.profile-card-5 .btn {
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 12px;
	padding: 7px 20px;
}
.profile-card-5 .card-img-block {
	width: 91%;
	margin: 0 auto;
	position: relative;
	top: -20px;
}
.profile-card-5 .card-img-block img {
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profile-card-5 h5 {
	font-weight: 600;
}
.profile-card-5 p {
	font-size: 14px;
	font-weight: 300;
}
.profile-card-5 .btn-primary {
	background-color: #4e5e30;
	border-color: #4e5e30;
}

.option-ambit {
	font-size: 20px;
	color: #47536e;
}

.card-ambit {
	font-size: 30px;
	color: #0069a0;
}

.create_img_example{
	max-width: 90%;
}

.create_font_container{
	text-align: center;
}

.create-help-text-container{
	text-align: left;
}

.h-120px{
	height: 120px;
}

.create-font-rangenumbers{
	color: #dee2e6;
}
.create-font-rangenumbers_active{
	font-weight: bold;
	color: #009cd7;
}