#edit{
    overflow-x: hidden;
}

.vista-previa{
    background: lightgray;
    height: calc(100vh - 76px);
    border: 4px solid #5777ba
}

.tabs{
    border-color: #f8f8f8 !important;
    font-size: 18px;
}

.nav-link.tab{
    width: 200px;
    color: black;
    cursor: pointer;
    border-bottom-width: 0px;
}
.nav-link.tab.active{
    width: 200px;
    color: #5777ba;
    background-color: #f8f8f8;
    cursor: pointer;
}

#header .logo h1 {
	font-size: 30px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 2px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
	color: #5777ba;
	text-decoration: none;
}
#header .logo img {
	margin: 0;
	max-height: 40px;
}

#header.nav-create {
	padding-bottom: 0;
}

.edit-estr-container .top-part{
    padding: 20px 50px;
    margin: 0px;
}

.edit-estr-container .top-part .radio-container{
    margin-top: 20px;
    
}

.label-radio-edit{
    font-size: 22px;
}
.label-radio-edit-active{
    font-weight: 600;
    font-size: 22px;
    color: #009cd7;
}

.form-check-input.radio{
    width: 22px;
    height: 22px;
    border: 2px solid #009cd7;
}

.form-check-input.radio:checked{
    background: #009cd7;
}

.btn-edit-list{
    height: 50px;
    border: 1px solid #009cd7;
    color: #009cd7;
    font-weight: 600;

}
.btn-edit-list:hover{
    color: #0069a0;
    border-color: #242526;
}

.btn-edit-add{
    height: 50px;
    color: white;
    font-weight: 600;
    background-color: #009cd7;
}
.btn-edit-add:hover{
    color: white;
    background-color: #0069a0;
}

.btn-edit-save{
    height: 50px;
    color: white;
    font-weight: 600;
    background-color: #5777ba;
}
.btn-edit-save:hover{
    color: white;
    background-color: #405d9b;
}

.btns-edit-container{
    width: 150px;
    top: calc(50% + 85px);
    right: 30px;
    transform: translateY(-50%);
}

.btns-edit-container .btn{
    margin: 50px 0px;
}

.alert-edit-save{
    width: 445px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title-edit{
    color:#5777ba;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.unit-change-container{
    font-size: 20px;
    font-weight: 500;
    color: #405d9b;
}

.unit-change-container .bx-trash{
    font-size: 22px;
    color: darkred;
    cursor: pointer
}

.btn-autocomplete{
    width: 100%;
    height: 48px;
    background-color: #5777ba;
    color: white;
    box-shadow: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 25px;
}

.btn-autocomplete:hover{
    opacity: .8;
    color: white;
}

.input-autocomplete{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.picker-trigger-container{
    background: white;
    padding: 10px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
}

.picker-trigger-container button{
    width: 100%;
    height: 100%;
}

.picker-container{
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

.picker-container button{
    display: inline;
    width: 30px;
    height: 20px;
    border: 1px solid lightgray
}

.edit-color-indicator{
    font-size: 18px;
    font-weight: 500;
}

.color-switch h5{
    font-size: 18px;
    line-height: 1.5;
}

.color-switch .switch-component{
    font-size: 20px;
    text-align: center;
}

.select-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #5777ba;
    border-color: #5777ba;
    border: 2px solid #5777ba;
    border-radius: 20px;
    text-align: center;
    width: 55%;
    min-height: 40px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.select-option-container:hover{
    color: white;
    background: #5777ba;
    transition: all 0.3s;
}

.soc-selected{
    color: white;
    background: #5777ba;
    transition: all 0.3s;
}