#edit{
    overflow-x: hidden;
}

.vista-previa{
    background: lightgray;
    height: calc(100vh - 76px);
    border: 4px solid #5777ba;
    background: url('../assets/loading.gif') center center no-repeat;
}

.tabs{
    border-color: #f8f8f8 !important;
    font-size: 18px;
}

.nav-link.tab{
    width: 200px;
    color: black;
    cursor: pointer;
    border-bottom-width: 0px;
}
.nav-link.tab.active{
    width: 200px;
    color: #5777ba;
    background-color: #f8f8f8;
    cursor: pointer;
}

#header .logo h1 {
	font-size: 30px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 2px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
	color: #5777ba;
	text-decoration: none;
}
#header .logo img {
	margin: 0;
	max-height: 40px;
}

#header.nav-create {
	padding-bottom: 0;
}

.edit-estr-container .top-part{
    padding: 20px 50px;
    margin: 0px;
}

.edit-estr-container .top-part .radio-container{
    margin-top: 20px;
    
}

.label-radio-edit{
    font-size: 22px;
}
.label-radio-edit-active{
    font-weight: 600;
    font-size: 22px;
    color: #009cd7;
}

.form-check-input.radio{
    width: 22px;
    height: 22px;
    border: 2px solid #009cd7;
}

.form-check-input.radio:checked{
    background: #009cd7;
}

.btn-edit-list{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #0069a0;
    color: #0069a0;
    margin-right: 20px;
    transition: all 0.35s;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    bottom: 160px;
    right: 20px;
    overflow: hidden;
}
.btn-edit-list:hover{
    width: 150px;
    height: 40px;
    border-color: #0069a0;
    color: #0069a0;
}

.btn-edit-list i{
    font-size: 30px;
}

.btn-edit-add{
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: #5cb85c;
    width: 200px;
    margin-top: 40px;
}
.btn-edit-add:hover{
    color: white;
    background-color: #4ea04e;
}

.btn-edit-save{
    width: 60px;
    height: 60px;
    background-color: #0069a0;
    border-radius: 30px;
    color: azure;
    border-width: 0px;
    margin-right: 20px;
    transition: all 0.35s;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    bottom: 60px;
    right: 20px;
    overflow: hidden;

}

.btn-edit-save:hover{
    color: white;
    background-color: #0069a0;
    width: 150px;
    height: 60px;
}

.btn-edit-save i{
    font-size: 30px;
    margin-right: 15px;
}

.alert-edit-save{
    width: 445px;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-edit{
    color:#5777ba;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.unit-change-container{
    font-size: 20px;
    font-weight: 500;
    color: #405d9b;
}

.unit-change-container .bx-trash{
    font-size: 22px;
    color: darkred;
    cursor: pointer
}

.btn-autocomplete{
    width: 100%;
    height: 48px;
    background-color: #5777ba;
    color: white;
    box-shadow: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 25px;
}

.btn-autocomplete:hover{
    opacity: .8;
    color: white;
}

.input-autocomplete{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.picker-trigger-container{
    background: white;
    padding: 10px;
    width: 60px;
    height: 50px;
    border-radius: 10px;
}

.picker-trigger-container button{
    width: 100%;
    height: 100%;
}

.picker-container{
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

.picker-container button{
    display: inline;
    width: 30px;
    height: 20px;
    border: 1px solid lightgray
}

.edit-color-indicator{
    font-size: 18px;
    font-weight: 500;
}

.color-switch h5{
    font-size: 18px;
    line-height: 1.5;
}

.color-switch .switch-component{
    font-size: 20px;
    text-align: center;
}

.select-option-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #5777ba;
    border-color: #5777ba;
    border: 2px solid #5777ba;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    min-height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 15px;
}

.select-option-container:hover{
    color: white;
    background: #5777ba;
    transition: all 0.3s;
}

.select-option-container i{
    margin-right: 15px;
}



.soc-selected{
    color: white;
    background: #5777ba;
    transition: all 0.3s;
}

.done-buttons-container{
    position: fixed;
    top: 320px;
    right: 40px;
    height: 60px;
    overflow: hidden;
    transition: all 0.35s;
}

.done-buttons-container:hover{
    height: 280px;
}

.done-buttons-container button{
    width: 60px;
    height: 60px;
    background-color: #5cb85c;
    border-radius: 30px;
    color: azure;
    font-size: 30px;
    border-width: 0px;
    margin-bottom: 8px;
}

.done-buttons-container button:hover{
    background-color: #4ea04e;
    color: azure;
    border-width: 0px;
}

.folder-save{
    font-size: 18px;
    padding: 4px 0px;
}

.folder-save:hover{
    color: #5777ba;
    cursor: pointer;
}

.folder-save.folder-selected{
    color: #5777ba;
    text-decoration: underline;
}

.modal-save{
    padding: 30px
}

i.add-folder{
    color: #0069a0;
    font-size: 22px;
    cursor: pointer;
}

.reload-preview{
    width: 50px;
    height: 50px;
    border: 2px solid #009cd7;
    color: #009cd7;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    border-radius: 25px;
    font-size: 30px;
}

.reload-preview:hover{
    color: #0069a0;
    border: 2px solid #0069a0;

}